Repository hexh250786313/fastify-mock-server: changes, and which lint-staged commands are due for each by the changed paths.
All: npx biome format --write, npx biome lint --write, npx prettier --write --no-error-on-unmatched-pattern

chore: update .gitignore
  .gitignore
Due: none

feat: update README
  .env
  README.md
  apis/apis-1.jsonc
  apis/apis-xxyyz.jsonc
  src/index.ts
Due: npx biome format --write, npx biome lint --write, npx prettier --write --no-error-on-unmatched-pattern

docs: update README
  README.md
Due: npx prettier --write --no-error-on-unmatched-pattern

Update README.md
  README.md
Due: npx prettier --write --no-error-on-unmatched-pattern

fix: req.url and mock not match
  src/index.ts
Due: npx biome format --write, npx biome lint --write

chore: modify editor config
  .lintstagedrc.json
  .vim/coc-settings.json
Due: npx biome format --write, npx biome lint --write

chore: modify editor config
  .husky/pre-commit
  .vim/coc-settings.json
  README.md
Due: npx biome format --write, npx biome lint --write, npx prettier --write --no-error-on-unmatched-pattern

chore: remove multipart
  package-lock.json
  package.json
  src/index.ts
Due: npx biome format --write, npx biome lint --write

feat: polish request body
  src/index.ts
Due: npx biome format --write, npx biome lint --write

doc: update README.mc
  README.md
Due: npx prettier --write --no-error-on-unmatched-pattern

chore: bump deps
  package-lock.json
  package.json
Due: npx biome format --write, npx biome lint --write

Path conditions:
  npx biome format --write: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{json,jsonc})
  npx biome lint --write: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{json,jsonc})
  npx prettier --write --no-error-on-unmatched-pattern: any of: *.{html,md}
